.display {
  display: block;
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 75%;
  height: 80%;
  border-radius: 6px;
  background-color: #02405964;
  font-size: 1.5rem;
}

.display-list {
  margin: 5px;
  text-align: left;
}

li:nth-child(3n-1) {
  background-color: #f2740591;
  border-radius: 50px;
  font-size: 1.3rem;
}

.display-comment {
  padding: 15px;
}
