.comments {
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 200px;
  outline: none;
  border-radius: 6px;
  border-style: none;
  background-color: rgba(216, 216, 216, 0.878);
}

.area-font {
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
}

.btn-group {
  display: inline-block;
}
