.nav {
  display: inline-block;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-links > * {
  margin: 0 0 0 20px;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
}

.nav-links a {
  color: #fefefe;
  text-decoration: none;
}

.nav-links a:hover {
  color: #3349ed;
  text-decoration: none;
}

.active {
  color: #3349ed;
  text-decoration: none;
}
